[2015-01-23 23:06] wti3pvs opened #2 "Forerunner10 missing altitude"
Hi adriangibbons,
First, your fit file reader is great! Thanks for this.
However I have read a fit file created with Garmin Forerunner10 and the altitude information is missing. In my Garmin Connect account I can see the altitude. So I think that the altitude information is in the fit file.
I have also output the fild information - also no altitude exists. Could you check this issue please? Here i

[2015-01-24 04:50] adriangibbons commented on #2
Hi Stephan, thanks for using php-FIT-File-Reader!

Have a read of Garmin's [Does my Forerunner 10/15 record or display elevation?](https://support.garmin.com/support/searchSupport/case.faces?caseId=%7Bbba24c70-868e-11e2-65d0-000000000000%7D) from the Support FAQ:

The Forerunner 10 does not have a barometric altimeter sensor, nor does it record altitude data from the GPS (presumably because this c

[2015-01-24 06:40] adriangibbons commented on #2
I have looked at your file some more and I am confident that the speed data recorded by the device is in meters per second, as opposed to 'minutes per kilometer' or anything else for **pace**. Therefore my formulae for converting units are OK as-is.

I have created a branch of the code, **'add-pace-option'**, which will add an option to convert speed data to pace if the user wishes. Pace will be i

[2015-01-24 07:36] adriangibbons commented on #2
It's in the master branch and release v1.0.1 :)

Have a look at the README.md for instruction/information on this.

I've added a pace chart to the demo page I created earlier as well.

[2015-01-24 15:24] wti3pvs commented on #2
Hi Adrian,

Thank you for your fast solution! Thanks also for the information about elevation using Forerunner10. The data shown by Google Elevation Api to my track seems correct.

Cheers,
Stephan

Professional Support should be like yours!

[2015-01-24 15:24] #2 closed

[2015-01-31 04:41] adriangibbons opened #3 "PHP script uses a lot of memory"
The process of reading in the file: `file_get_contents()`, followed by `str_split()` and then `array_reverse()` uses a lot of memory and without `memory_limit` in [php.ini](http://php.net/manual/en/ini.core.php#ini.memory-limit) set to a suitable value then ***Fatal Error: Allowed Memory Size of xxxxxx Bytes Exhausted*** may be experienced. Some users may not have access to change the `memory_limi

[2015-02-02 11:30] adriangibbons commented on #3
Have implemented `substr()` solution identified in original post. This is included in release v1.0.2.

The same FIT file now requires only 9,699,328 bytes (~10mb) at the end of the script.

Further, performance appears to have taken a step improvement, requiring nearly half the time of the original code. Win!

I will amend the FAQ as I don't think users should experience the fatal error message Re

[2015-02-02 11:30] #3 closed

[2015-02-03 03:11] adriangibbons commented on #3
For a closer to a like-for-like, approximately 78mb (peak) was used by the end of the script in the previous script.

[2015-07-02 14:29] mjanda opened #4 "Composer package & submit to packagist"
Hello,
would it be possible to add composer.json file and submit it to https://packagist.org for easier updates?

[2015-07-03 00:07] adriangibbons commented on #4
Hi @mjanda - I'd be happy to include a composer.json file but have no experience of creating them. If you do then perhaps you can create one and send a Pull Request?

My limited understanding of Composer is that it helps with dependency management. My project is almost a standalone file (php-FIT-File-Analysis.php), with the exception of the requirement to have the [Trader](http://php.net/manual/en

[2015-07-03 17:34] gfrogley commented on #4
Hi Adrian
Sorry, I'm really, really new to all this GitHub thing and have absolutely no idea what a pull request is or how to go about it. Simply, I found your code and reworked it, testing it on a php5.4 platform to make sure it worked without the trader extension (Web hosts were not happy about doing this for a free or budget service). I can send you a copy of the code, which may be much easier

[2015-07-05 09:06] adriangibbons commented on #4
Hi @gfrogley - it's reasonably straightforward and what GitHub is all about. Check out some of the documentation for an overview of forking/branching and pull requests, etc. You'll need to download a git client - I use the GitHub for Windows and it works well for me!

If you don't think you'll get into GitHub then you can perhaps put the code on Dropbox and send a link to it. Or even save the file

[2015-07-07 21:00] gfrogley commented on #4
Hi Adrian
I've had a look to try to submit my version of your file.... really do not
understand any of the jargon about this or how to go about 'master'  so
I've attached it for you as a php file.

The sma function to replace trader_sma is from line 1178 to 1198
I've added some HR Analysis function, like Training Peaks does, where a
Power Meter isn't present. This is on line 1068 to 1084.

I think

[2015-07-08 20:54] adriangibbons commented on #4
Thanks Graham! It looks like you emailed your response rather than through the GitHub the website. The attachment didn't come through so I can't look at the PHP file :'(

Please could you email it - Cheers!

[2015-07-10 06:46] adriangibbons opened #6 "Timestamp is used as index before it is encountered"

[2015-08-02 09:50] adriangibbons opened #7 "Make code compliant with the PHP-FIG Coding Style Guide (PSR-2)"
http://www.php-fig.org/psr/psr-2/

[2015-08-08 04:05] adriangibbons commented on #6
[timestamp race condition fix](https://github.com/adriangibbons/php-FIT-File-Analysis/commit/2bad69e5c6de10398b970cee1fe5dfc38d911801) resolves this issue. Closing...

[2015-08-08 04:05] #6 closed

[2015-08-08 09:02] adriangibbons opened #8 "Invalid values"
Raw values for lat and long of 2,147,483,647 resulting coordinates of 180,180 on the map.

Approx. 1% (24 of 2,368) data points affected from Forerunner 110.

![staticmap](https://cloud.githubusercontent.com/assets/10218647/9149817/c9a2fbe8-3dee-11e5-92e1-804213589909.png)

[2015-08-09 01:05] adriangibbons commented on #8
[exclude invalid record values](https://github.com/adriangibbons/php-FIT-File-Analysis/commit/d8bed5cb3694a99d1d7575bd40c71b8b5c3f1aae) fixes issue :)

![staticmap](https://cloud.githubusercontent.com/assets/10218647/9153073/80133a6a-3e75-11e5-9270-650674e65c12.png)

[2015-08-09 01:05] #8 closed

[2015-08-09 02:05] adriangibbons opened #9 "Add PHPUnit tests"

[2015-08-11 22:15] pwoo opened #10 "Fix data appears to be broken after recent changes"
Which may be related to how records are being parsed internally. The error being output is:
[code]

I can provide FIT files on request.

[2015-08-12 10:53] adriangibbons commented on #10
Hi @pwoo, I've just taken a look and fixed the error.

I had accidentally removed `$this->data_mesgs['record']['timestamp']`, but I've added it back it now. I also made a small enhancement to the `fix_data()` function.

When I get round to creating some PHPUnit tests (#9), I should prevent these things from happening!

Please let me know if the error persists and we can re-open this issue.

Thanks

[2015-08-12 10:56] adriangibbons commented on #10
When I get round to

[2015-08-12 10:56] #10 closed

[2015-08-13 07:53] pwoo opened #11 "Device byte endianness is ignored"
Hi Adrian,

Thanks for the recent fix. In addition to that issue, there is another problem I've been encountering with a specific FIT file. Unfortunately, I am still quite unfamiliar with the FIT spec and cannot pinpoint what the problem is during parsing. What I can tell you is that it gives the error:

[code]

And that it works in GoldenCheetah. I have uploaded the file to https://www.mediafire.

[2015-08-13 08:11] adriangibbons commented on #11
Hey @pwoo, no worries!

I will take a look at your file later. Can you provide some context? E.g.
- What device was used to record it?
- What kind of activity is it? Cycling/running/etc
- What sensors were connected? HR, power, cadence/speed, foot pod etc.

Cheers

[2015-08-13 13:52] adriangibbons commented on #11
I loaded your file up and outputted the debug information:

[code]

![pwoo-fitdefnmesgs](https://cloud.githubusercontent.com/assets/10218647/9251237/c5309fb0-4204-11e5-9b6e-6c1ddfcdc7b7.png)

So the file doesn't appear to contain any valid messages as there isn't a mesg_num of 5120 in the FIT standard. However, we know it is not a corrupted file as it works with Golden Cheetah and I recognise the

[2015-08-13 13:57] adriangibbons commented on #11
So the issue is that the **product architecture** for this file is Big Endian and the class as it stands assumes everything is Little Endian or machine byte order. Line 680 of the class skips over the architecture byte.
_Table 4-3. Definition Message Contents of the file 'D00001275 Flexible & Interoperable Data Transfer (FIT) Protocol Rev 1.7.pdf' in the FIT SDK._

Sure enough if I replace:

[code

[2015-08-13 14:02] adriangibbons commented on #11
You can see that I am currently only considering the Little Endian [PHP pack() format characters](http://php.net/manual/en/function.pack.php) C,c,S,v,l,V,f,d:

[code]

[2015-08-13 14:08] adriangibbons commented on #11
The record data field definitions from your file:

v has a Big Endian counterpart, n
V has a Big Endian counterpart, N
**l is always machine byte order, will have to have a think about this!**

[2015-08-13 14:46] pwoo commented on #11
The file is being exported via a mobile app still in development (not by me). I have been told that they are using PowerTap Power Meter for power, torque and speed, GSC10 for cadence and GPolar H7 for heart rate.

[2015-08-14 14:06] adriangibbons commented on #11
Thanks @pwoo - I suspected that the file had not been created with a Garmin due to it being Big Endian and the FIT Definition Messages it contains (or doesn't)!

If you want to try [php-FIT-File-Analysis.php from the endianness branch](https://github.com/adriangibbons/php-FIT-File-Analysis/blob/endianness/php-FIT-File-Analysis.php), I have added some changes today to make your FIT file work with m

[2015-08-14 14:15] adriangibbons opened #12 "fix_data() for position_lat and position_long looks terrible"
![staticmap](https://cloud.githubusercontent.com/assets/10218647/9275748/f41d4ad0-42d1-11e5-9866-f39f4021c05c.png)

[2015-08-14 19:07] RyanfCooper commented on #12
Hey I was just looking at this as well.  Each gap in the attached chart represents a fixed lat long value.  By the way I really appreciate the work you are doing and I'm testing it very heavily! If you need want and help testing or what not let me know.

![screen shot 2015-08-14 at 2 05 51 pm](https://cloud.githubusercontent.com/assets/5325242/9281837/b774e726-428d-11e5-92b1-22d834b02dd1.png)

[2015-08-15 02:17] adriangibbons commented on #12
Thanks @RyanfCooper - is that a chart of speed vs distance? 260+km? nice!

Hopefully I'll make some progress this weekend - thanks for the offer of help testing, if you have spotted any bugs or have any ideas for enhancements then please share :)

I'm planning on setting up some PHPUnit tests, which should take care of a lot of the regression testing when I make changes in the future, but I'm sure

[2015-08-15 02:52] RyanfCooper commented on #12
Mostly garmin files (500/10/20, 800/10, fenix3, 910xt) but have access to wahoo, power tap etc.

That file was actually only 100km but I was calculating distance based on lat long so everytime there was a gap it was adding a lot of distance. Was trying to do power over distance with some special auto segmentation code I'm working on.

Ryan

Sent from my iPhone

[2015-08-15 03:53] adriangibbons commented on #11
Enhanced the `fix_data()` function to cater for all fields captured that were stored as unsigned ints that need to be converted to being signed as `unpack()` doesn't allow you to specify endianness for signed ints.

Merged into the master branch too (#13) as seems to be working fine. Let me know if all good and I wIll close the issue and delete the endianness branch.

[2015-08-15 04:57] adriangibbons commented on #12
Squashed the bug. SIlly mistake:

[code]

Should be:

[code]

Resolved in this [interpolate_missing_data() typo](https://github.com/adriangibbons/php-FIT-File-Analysis/commit/fb25b2744931ef1fa0b5b6e7ae922e64ddc18eff) within #14 pull request.

All looks good now:
![staticmap](https://cloud.githubusercontent.com/assets/10218647/9287552/17934d54-434d-11e5-9aef-bbe38e40f63e.png)

[2015-08-15 04:57] #12 closed

[2015-08-15 13:01] RyanfCooper commented on #12
Awesome.  Will keep testing.  Loving what you are doing!

Sent from my iPhone

[2015-08-15 17:23] RyanfCooper commented on #12
Would be cool to make significant digits an option.  For distance or lay long I'm going in and updating the rounding to more sig digits.  (For elevation correction later)

Sent from my iPhone

[2015-08-16 01:14] #11 closed

[2015-08-16 07:05] adriangibbons commented on #4
Added a composer.json for phpunit dependency but not yet submitted to packgist.org - will look to do so in the next week or so...

[2015-08-16 07:07] adriangibbons commented on #9
Added some basic PHPUnit tests in #15. Am liking [VisualPHPUnit](https://github.com/VisualPHPUnit/VisualPHPUnit)

![visualphpunit](https://cloud.githubusercontent.com/assets/10218647/9292388/678555ec-4428-11e5-8730-085056204479.png)

[2015-08-16 07:16] adriangibbons commented on #12
Hey @RyanfCooper, `['record']['position_lat']` and `['record']['position_long']` are rounded to 5 decimal places, which is accurate to somewhere between ~0.5m and ~1m. Given the accuracy of the GPS device itself, I'm not sure more significant digits for these makes sense - unless you're talking about the rounding of `['record']['distance']`, which is currently to only 2dp?

[Wikipedia decimal degr

[2015-08-16 15:18] RyanfCooper commented on #12
Hey sorry for some reason I was thinking 5 was ~10 meters.  Thanks!

On Sun, Aug 16, 2015 at 2:16 AM, Adrian Gibbons notifications@github.com
wrote:

[2015-08-17 11:30] adriangibbons commented on #9
Make sure there's a test for #8 :)

[2015-08-17 16:58] pwoo commented on #11
Thanks. It's no longer crashing for this file.

However, it looks like file_id doesn't exist in data_mesgs (getting undefined index). If I'm intepreting the debug output correctly (image attached), it should be there?

![capture](https://cloud.githubusercontent.com/assets/799069/9310729/889ac7a0-44df-11e5-8f8c-8b2392d2fdcf.PNG)

[2015-08-17 18:23] pwoo commented on #11
@adriangibbons,

In addition to the above, I've attempted using a stripped down version of pFFA-Basic-Test.php to simply instantiate phpFITFileAnalysis (and nothing else):

FIT2015_8_8_ 5_41_44.fit
Time: 1.03 minutes, Memory: 40.75Mb

It's taking unexpectedly long to parse compared to typical files.

[2015-08-18 12:15] adriangibbons commented on #11
Hi @pwoo, I'll answer your two questions separately:

It's a reasonable assumption that there _should_ be corresponding **data** messages for a give **definition** message, otherwise why bother defining it? However, I don't see anything that would prevent someone from creating a parseable FIT file that does not have data messages for a given definition message.

I'm confident that the **file_id**

[2015-08-18 12:42] adriangibbons commented on #11
Yes, I am experiencing the same - but only with this particular file.

I think the FIT file is suspect here (but I may be wrong!). You mentioned that it was created by a mobile app being developed by someone else - how confident is the developer that the FIT files are being created optimally?

For example, the record definition messages are defined over and over again, often with just two fields e

[2015-08-18 19:35] pwoo commented on #11
Thanks a lot Adrian, I've forwarded the analysis to the interested parties.

[2015-08-19 07:10] adriangibbons commented on #11
Great stuff - the manufacturer and garmin_product fields in the file_id message are enumerated types:

![image](https://cloud.githubusercontent.com/assets/10218647/9350378/f16bc078-4682-11e5-9bce-443ba7ba3b81.png)

![image](https://cloud.githubusercontent.com/assets/10218647/9350380/0125984a-4683-11e5-9299-539eb270e56e.png)

So the developer would need to request to be added to the FIT profile (if

[2015-08-22 03:47] adriangibbons opened #16 "How accurate/performant is phpFITFileAnalysis::sma() ?"
Need to compare performance and output of ```phpFITFileAnalysis::sma()``` vs the [PHP Trader PECL extension](http://php.net/manual/en/book.trader.php)

[2015-08-22 04:01] adriangibbons commented on #16
Tested five FIT files containing power data and captured 23 Critical Power values from 2s to 2hrs and compared results to 3 decimal places.

For three files, results were the same. The other two had just one CP value (20mins in both cases) that were out by only 0.001 watt!

As you can see, using the PHP Trader extension is significantly faster (<0.05s) than using PHP code (25-35s+)! I don't think

[2015-08-22 07:37] adriangibbons commented on #9
![image](https://cloud.githubusercontent.com/assets/10218647/9423018/973a58d6-48e3-11e5-96b8-46296207dadc.png)

[2015-08-22 07:37] #9 closed

[2015-08-22 10:27] adriangibbons commented on #7
Added [PHP_CodeSniffer](https://github.com/squizlabs/PHP_CodeSniffer) to the project via the composer.json file and made PHP code (mostly) compliant with the style guide.

[2015-08-22 10:27] #7 closed

[2015-08-22 11:00] adriangibbons commented on #4
composer.json updated and submitted!

https://packagist.org/packages/adriangibbons/php-fit-file-analysis

[2015-08-22 11:00] #4 closed

[2015-08-22 11:37] adriangibbons opened #17 "phpFITFileAnalysis doesn't work with my website any more"
I've just made some non-backward compatible changes and bumped the versioning to v3.0.*

I've updated the README - hopefully I haven't missed anything. PSR-4 autoloading to come...

The project now has its own namespace and is starting to be more PSR-2 code styling compliant! E.g. method names are now camelCase - ```power_metrics()``` has become ```powerMetrics()``` etc.

It's also available on [p

[2015-08-22 11:39] adriangibbons opened #18 "Add PSR-4 Autoloader functionality"
http://www.php-fig.org/psr/psr-4/

[2015-08-22 16:50] takenokotaketake opened #19 "Di2 D-Fly gear change data from Garmin Edge 1000"
Thank you good script.Sir. very very good.
I have GARMIN EDGE1000 and shimano Di2 D-fly.
But I cant get Di2 gear change and gear info data on GARMIN EDGE 1000 RAW fit file.
Is this script cant yet?
I trust this script can it, But I dont understand pick up gear data method, thanks.
If you need gear data in fit file. please message me. I gonna send it.
RGDS.

[2015-08-22 22:07] adriangibbons commented on #19
Hi @takenokotaketake

I haven't had access to a file with this data before. If you post a link to an example file (e.g. Dropbox) or email it to [...] then I will take a look and incorporate.

It may be that the class is not listening for the right FIT messages from the standard.

Cheers, Adrian.

[2015-08-22 22:26] takenokotaketake commented on #19
gmail send now,
RGDS.

[2015-08-23 08:38] adriangibbons commented on #19
Hi @takenokotaketake - I've had a look at the file that you've sent through and the good news is that I have found the gear change event information in the file you sent me and have successfully used the data in a quick test.

I've started work on a `gearChanges()` method that will return data similar to that available on [di2stats.com](http://di2stats.com)

I'll give you an update when the method

[2015-08-23 10:33] takenokotaketake commented on #19
Thanks very much Sir.

[2015-08-24 07:35] mjanda opened #20 "Undefined variable: record_header_byte"
https://github.com/adriangibbons/php-fit-file-analysis/blob/master/src/phpFITFileAnalysis.php#L907-L909

[code]

I'll get error on those lines (with HHVM - not sure about normal PHP)

btw: thanks for all those changes, I just came from holiday and seen all the work you've done.

[2015-08-24 11:01] adriangibbons commented on #20
Hi @mjanda - thanks for raising. I don't use HHVM but had a quick Google. It would seem that [Hack is quite symbiotic with the PHP language, but there are some PHP features that are not supported by Hack and the type checker](http://docs.hhvm.com/manual/en/hack.unsupported.php). For example:
- "Undefined" variables
- References (e.g., function foo(&$x))

The first is easy to fix (by the way are th

[2015-08-24 11:59] mjanda commented on #20
I don't get any other error, but I use the class in a very limited way now. Basically I only load the file, read first record's timestamp and see if I have that activity in database. Rest of my processing is done in Go already. So I don't use interpolateMissingData().

As for more undefined variables, I think there are only two more in interpolateMissingData() - I've tried some regexp that should

[2015-08-25 12:17] adriangibbons commented on #20
I didn't think of the regex - thanks for that!

Think this can be closed following https://github.com/adriangibbons/php-fit-file-analysis/commit/c5bd03887d564d7c6c3620c8c0d38f4f37ab3655

[2015-08-25 12:17] #20 closed

[2015-08-25 12:31] adriangibbons commented on #19
Hey, I've quickly hacked something together. I don't have much time for the rest of the week, but if you want to have a play with `gearChanges()` it's in the [Di2-D-Fly-gearChange](https://github.com/adriangibbons/php-fit-file-analysis/tree/Di2-D-Fly-gearChange) branch.

See https://github.com/adriangibbons/php-fit-file-analysis/commit/f7a48e2f6a7981909d878ea7beccba09c53cc94d

Comes with the follo

[2015-08-25 13:05] takenokotaketake commented on #19
Thank you  Sir.
I checking now.

I think so...
weather is not important
I need front and rear 2 arrays (i gonna setting front rear mysql columm)
t is not need, because I caliculate gear ratio, then t is attached cannot caliculate or regexp using.

At some question
1. battery status is all 255(look like invalid_value?), it is really true?
    I gonna wrote battery spend graph,
   I think 'battery_s

[2015-08-25 13:21] adriangibbons commented on #19
1. Battery status - I will need to look into this but yes it would seem an invalid value if 255.
2. Session average speed - I suspect it is in m/s, the raw value from the file. This is a bug as I have overlooked setting the units for activity/session/lap data with setUnits(). I'll open a separate issue for this! Good catch!

Hey, I'm just happy to be coding if people are finding it useful!

Adrian

[2015-08-25 13:22] adriangibbons opened #21 "Units not set for session/lap messages"
session and lap messages can contain data that will need units setting - e.g. average and max speed etc.

[2015-08-25 13:28] adriangibbons commented on #19
Yes, 5.619m/s is 20.2km/h and 13.52 is 48.7

What units is altitude for Garmin Connect? m or feet?

It could be that Garmin Connect is overriding the altitude data recorded by the Garmin with elevation data based on latitude and longitude.

[2015-08-25 13:35] takenokotaketake commented on #19
Garmin connect is All metric system,Sir!
ave = km/h

so anyway!
Do you know what they call a Quarter Pounder with cheese in France?
They don't call it .
They got the metric system.
They call it a "royale with cheese".

[2015-08-29 23:06] adriangibbons commented on #21
**session** messages:
start_position_lat
start_position_long
total_distance
avg_speed
max_speed
total_ascent
total_descent
avg_altitude
max_altitude
avg_temperature
max_temperature
avg_pos_vertical_speed
avg_neg_vertical_speed
max_pos_vertical_speed
max_neg_vertical_speed
min_altitude
enhanced_avg_speed
enhanced_max_speed
enhanced_avg_altitude
enhanced_min_altitude
enhanced_max_altitude

**lap** m

[2015-08-29 23:10] adriangibbons opened #22 "battery status messages have invalid values"
Seeing a lot of 255 - which would appear to be invalid values at first glance...

[2015-08-30 05:00] adriangibbons commented on #21
fixed following https://github.com/adriangibbons/php-fit-file-analysis/commit/e36bc7dabeef58eaccb97df41ba6f1d1db2cc3f7

[2015-08-30 05:00] #21 closed

[2015-08-30 05:04] adriangibbons commented on #19
I've just made the `setUnits()` function generic to session, lap and records messages. So this should be resolved now :)

Hopefully I'll be able to spend some time today developing `gearChanges()`

[2015-08-30 05:10] adriangibbons commented on #18
Implemented through these commits:
1986043 - simplified namespace
1f07eaa - added PSR-4 autoload

[2015-08-30 05:10] #18 closed

[2015-08-30 09:05] adriangibbons commented on #19
Hey, have a look at the output from the `gearChanges()` function now in the [Di2-D-Fly-gearChange](https://github.com/adriangibbons/php-fit-file-analysis/tree/Di2-D-Fly-gearChange) branch.

Interested to hear your thoughts on this. Using the `combined_summary` array, I was able to reasonably quickly create the following visualisation with help from https://gist.github.com/mbostock/4063269

![d3-ge

[2015-08-30 09:12] takenokotaketake commented on #19
Very Good ,Sir.
please look at my opnions, this is excel yet. but now drowing by google charts.
![2015-08-30 18 09 19](https://cloud.githubusercontent.com/assets/13919922/9566504/ac4fa9e6-4f42-11e5-9b24-0a5f73fc2ba9.jpg)

[2015-08-31 12:42] adriangibbons commented on #22
[code]

The above is only being performed for record messages. Therefore lap, session, event, etc data message arrays include invalid values. E.g. highlighted lap messages that look invalid:
![var_dump-lap-before](https://cloud.githubusercontent.com/assets/10218647/9578918/b6a5282e-5020-11e5-84e6-9ab0e2a5de38.png)

[2015-08-31 12:49] adriangibbons commented on #22
https://github.com/adriangibbons/php-fit-file-analysis/commit/f3379fc0612c7599e58461f2df9c8d9f8df96185 means we now **check all messages for invalid values**:
![var_dump-lap-after](https://cloud.githubusercontent.com/assets/10218647/9579029/bdd3ba10-5021-11e5-9e13-591eaccb70e0.png)

[2015-08-31 12:49] #22 closed

[2015-08-31 12:56] adriangibbons commented on #19
Wow - you're running a crazy wide MTB cassette there - are the hills very steep where you are?!

I think the data you need to create such a chart is now available to you - are the numbers for each gear the minutes spent in that combination? e.g. 6min in 33x11t; 25min in 50x11t; etc?

Btw, I think you have 50/34t chainrings, not 50/33t? The file you sent also says this.

I've just closed #22 - I wa

[2015-08-31 13:09] takenokotaketake commented on #19
Thank you Sir.
it 33t is true, zepher chainrings, I changed, And myhome near the Mt.Aso. very volcanon .
I use widecasette, it is very nomaly, but not use teeth in the it.
I want search it,but it is not moode, data is true,data was answerd to me.
And data is false rand() data,Sir. That is sample.
Thanks.
And I think battery array is Garmin's work, new, critical, were not bad. garmin was show 0-100

[2015-09-01 00:44] adriangibbons opened #27 "Investigate if helper function needed to make sense of time_in_* messages"
![image](https://cloud.githubusercontent.com/assets/10218647/9593729/ee123a40-5084-11e5-9160-e2911b63ffd5.png)

[2015-09-01 00:48] adriangibbons commented on #27
**D00001275 Flexible & Interoperable Data Transfer (FIT) Protocol Rev 1.7.pdf**
_4.2.1.4.2 Size_
The Size indicates the size of the defined field in bytes. The size may be a multiple of the underlying FIT Base Type size indicating the field contains multiple elements represented as an array.

[2015-09-05 08:15] takenokotaketake commented on #19
![please](https://cloud.githubusercontent.com/assets/13919922/9698424/b4b84fd6-53f0-11e5-8695-c4ef00060520.png)

Hello , Sir.
I am making Di2 data.
But array data is into rest time.
I dont run F50-R21T alot.
because I m caliculate gear summary datta equal $pFFA->data_mesgs['session']['total_timer_time']
Could you Exclusion rest time ?
I think somebody man, dosent need gear time on rest time.
See y

[2015-09-05 10:14] adriangibbons commented on #19
Hey, I can look at this in more detail tomorrow but checkout the function I added isPaused() - just for this purpose! Array indexed by timestamp, true when time was paused, typically due to autopause.

[2015-09-05 10:35] takenokotaketake commented on #19
Very sorry Sir.
I dont understand it.

$pFFA->isPaused($pFFA->gearChanges());

[2015-09-06 11:24] adriangibbons commented on #19
It's not that sophisticated unfortunately...

[code]

Results in:

[code]

There is a boolean for every second starting at the beginning of the ride until the end. `true` means the time is paused.

So my thinking is that you should be able to ignore the data points where the timer was paused.

**NB: the FIT file may not contain data for every second of the ride**

For example, you could:

[code]

[2015-09-07 02:43] takenokotaketake commented on #19
Yes ,Sir.
I sucessed.
But My opinion is (all user) gears array in not need include paused time.
If can exclusion by pause data. but not use your making gear summary.
it is very sad.
I want to use your gear summary array.

And I changed new php data.
it is not use gear_change()
I searched txt data, then no function.

[2015-09-08 05:27] adriangibbons opened #28 "develop getJSON() function"
Would be useful to get data in a JSON format e.g. for use in dc.js
[code]
Could create the array structure in PHP and then use:
[code]

[2015-09-08 05:30] adriangibbons opened #29 "develop getLapData() and getSessionData() functions"
e.g. start and end timestamps for each lap and session

[2015-09-10 00:26] adriangibbons opened #30 "swim example no longer has length information"
Likely to be following this commit https://github.com/adriangibbons/php-fit-file-analysis/commit/f3379fc0612c7599e58461f2df9c8d9f8df96185

[2015-09-10 00:32] adriangibbons commented on #19
Hi @takenokotaketake - I have been very busy this week and not had chance to look at this. What I am thinking of is creating an optional parameter for the `gearChanges()` function, which will enable the user to request data for all timestamps or only timestamps where the timer was not paused. This will also then be reflected in the summary arrays.

The pictures of what you are trying to achieve ar

[2015-09-10 13:22] adriangibbons commented on #19
Hi @takenokotaketake - I have just updated `gearChanges()` in the https://github.com/adriangibbons/php-fit-file-analysis/tree/Di2-d-fly-gear-change branch. By default, timestamps where the timer is paused are now excluded. Users could include them by using `gearChanges(false)` if so desired.

[code]

Are all updated accordingly. Hope this helps!?

[2015-09-10 14:58] takenokotaketake commented on #19
Yes ,Sir.
I sucessed.
Very thank you Sir.
gear all time is near the run summary.
I understand it
gearChanges(true)  <= include stop time
gearChanges(false)  <= run only
gearChanges()  <= run only

And my hopes idea are many. but you looks like too busy.
there are next stage Sir.
e.g
1 bike name(garmin edge input data)
2 heat rate zone bpm(1,2,3,4,5) now was max only, I gonna wrote zone line in gla

[2015-09-11 01:36] adriangibbons commented on #19
Hi @takenokotaketake

To your three points:

**1 bike name(garmin edge input data)**
I have had a look at the FIT standard _profile.xls_ and I think this should be stored in:
  Message: bike_profile (mesg_num: 6)
    Field Name: name (Field Def Num: 0; Field Type: string)

I will take a look at the FIT file you shared with me before, but I don't think that this information is stored in there or I

[2015-09-11 02:34] takenokotaketake commented on #19
Hello Sir.
1. No, Sir, I looked bike name in your debag text. I searchd looking my inputed name there.
   I couldn't read this message because it was full of garbling at debag text.
   about "private 'file_contents' => " (I dampped and look $pFFA before en

code data)
2. Oh ,Sir, I see. garmin is setting zone persentage area caliculkate by max heartrate.but it is garmin's job. very thanks.
3. gear

[2015-09-11 05:25] adriangibbons commented on #19
`file_contents` is the literal contents of the file as read into memory. As FIT files are binary, that is why it looks all garbled-up. It would look the same if you opened the FIT file in Notepad. It is a private member as it is not intended for people to access directly for this reason. PHP's `unpack()` function is used by the class to turn the binary data into something that can be human-read.

[2015-09-11 10:30] adriangibbons commented on #29
No real need to create these functions as `$pFFA->data_mesgs['lap']` and `$pFFA->data_mesgs['session']` contain required information, e.g. three laps:

[code]

[2015-09-11 10:31] #29 closed

[2015-09-11 15:30] adriangibbons commented on #28
It's beginning!...

![image](https://cloud.githubusercontent.com/assets/10218647/9818815/f5095d8c-58dc-11e5-8989-433b579b21df.png)

[2015-09-11 16:29] gfrogley commented on #28
That's really cool Adrian!
I've been looking at the dc.js site you mentioned too and had several thoughts. Can you get all the data out in json format? If so, then graphing the sets would be (ahem) straight forward. Seemingly all graphs can react to a filtered dataset. If one graph was changed then the others, quadrant analysis and map would follow suit. This would enable finer selection... A coac

[2015-09-12 06:09] adriangibbons commented on #28
Thanks @gfrogley

So I haven't got it all working, laps with the map in particular are a bit off, but I thought I'd upload anyway: http://adriangibbons.com/php-fit-file-analysis/demo/quadrant-analysis.php

https://github.com/adriangibbons/php-fit-file-analysis/commit/d4cf743a6d49a68237989db31cb8e75f6a4a1f01 has included quadrant-analysis.php (and required files) in the demo folder. If you use a di

[2015-09-12 07:35] #30 closed

[2015-09-12 09:04] gfrogley commented on #28
Check out cyclcoaching.ddns.net/dc.php

The map seems to go a bit screwy when segment data is selected. It looks
like the co-ords are rearranged during the import, but I might be wrong. If
you zoom in enough you can see blue criss-cross lines. It seems to get
muddled when latlngDim gets index again when a lap is selcted, but I cant
suggest a resolution, its way out of my experience!
Graham

On Sat

[2015-09-12 09:05] gfrogley commented on #28
try _cyclecoaching_ instead.... crap keyboard!

On Sat, Sep 12, 2015 at 10:04 AM, Graham Frogley gfrogley@gmail.com wrote:

[2015-09-12 18:33] gfrogley commented on #28
been thinking, this question may help
http://stackoverflow.com/questions/30868801/crossfiltering-of-json-data-by-the-most-recent-time
but I have absolutely no idea on how to implement it.

On Sat, Sep 12, 2015 at 10:05 AM, Graham Frogley gfrogley@gmail.com wrote:

[2015-09-13 10:59] adriangibbons commented on #28
Hey, no dramas. I am back from my 140km ride and a bit achey, but I managed to fix the issue. Basically, the issue lay with the fact that the lat/lng dimension (latlngDim) was being sorted by crossfilter.js - as it should:

So instead, I pass a timestamp dimension to the `updateOverlay()` function. Now it works just fine as the timestamps are sorted instead of the lat/lng's.

**CRAP** just realise

[2015-09-16 07:22] adriangibbons opened #31 "Add ATL, CTL and TSB to Power Analysis"
New public function to take TSS's as input and return:
* Acute Training Load (Fatigue)
* Chronic Training Load (Fitness)
* Training Stress Balance (Form)

E.g. ```getFatigueFitnessForm($tss_values, $ctl_time_period = 84days, $atl_time_period = 14days)```

[2015-09-16 07:23] adriangibbons commented on #28
Need to add input to request which values should be returned in the JSON:

[2015-09-16 13:36] adriangibbons commented on #28
Closed by https://github.com/adriangibbons/php-fit-file-analysis/commit/36f398e7a4d91cbb520a3d34a154761304644d0b

[2015-09-16 13:36] #28 closed

[2015-09-19 08:50] adriangibbons opened #32 "Data every second"
```fixData()``` just ensures timestamp consistency, probably need a function to ensure data is in there for every second of recording...

[2015-09-21 02:39] #17 closed

[2015-09-27 13:47] adriangibbons commented on #31
TSS already included in ```powerMetrics()``` !!!

[2015-10-05 14:32] JacobDelcroix opened #33 "Wrong timestamp"
When decoding a .fit file with your lib I don't get real timestamp.

From your lib : 1995-10-03
From Strava : 2015-10-01 (good one)
Timestamp : 812681141

Power, cadence, etc... are fine but I can't figure out why timestamp is wrong.

Do you have any clues ? I can send you the file if needed.

[2015-10-06 00:54] adriangibbons commented on #33
Hi, I think "wrong" is a bit strong but I understand the confusion.

Hence when you convert a FIT timestamp without compensating for the difference it will give you an unexpected value. This was the decision of the owners of the FIT standard.

In the demos, you will see how I have compensated for the difference.

https://github.com/adriangibbons/php-fit-file-analysis/blob/master/demo/mountain-biki

[2015-10-06 08:06] JacobDelcroix commented on #33
Thanks for your reply. Yes I think we should convert to UNIX timestamps too because almost everyone expect it. Or maybe this part should be more explicit in your documentation.

Regards.

[2015-10-06 13:16] adriangibbons commented on #33
Ok, it should be relatively straightforward but I'll need a few days to do it properly and update the README.md etc as work is very busy

[2015-10-07 03:06] adriangibbons commented on #33
**timestamp** is a common field and always **field_number 253**

![image](https://cloud.githubusercontent.com/assets/10218647/10328080/79014514-6ce2-11e5-8f11-f4a15f9f79db.png)

In addition, there are messages with fields besides timestamp with the **date_time or local_date_time type:**

![image](https://cloud.githubusercontent.com/assets/10218647/10328093/97d89f14-6ce2-11e5-9e2b-3bf91d955100.png)

[2015-10-07 12:19] adriangibbons commented on #33
@JacobDelcroix I have made changes so that by default, timestamps are now in Unix time. Please could you test it out?

An option can be passed to continue using Garmin FIT timestamps:

[code]

I updated the README.md, demos and tests, as well as the src.

Cheers

[2015-10-07 12:47] JacobDelcroix commented on #33
@adriangibbons I will give it a try this week, thanks. But I think you should let garmin timestamp by default and add option for UNIX timestamp because if someone update your lib, his script will be "broken".

[2015-10-08 01:07] adriangibbons commented on #33
I hear you, but I think it is better long-term if the class defaults to Unix time rather than people having to select it as an option. I sense that there are not thousands of users of this project out there so hopefully the pain of this change can be tolerated - the easy fix is to set the `garmin_timestamps` option to `true`

[2015-10-08 01:30] #16 closed

[2015-10-13 13:24] #33 closed

[2015-10-14 13:37] takenokotaketake commented on #19
Hello, Sir.
Could you pick up road grade(percent) array ?
every second or timestamp.

[2015-10-14 13:38] takenokotaketake commented on #19
Hello, Sir.
I slove  to 11 Sep at today.

[2015-10-15 03:14] adriangibbons commented on #19
Hi @takenokotaketake

The class already listens for grade: it's field definition 9 in record messages:-

https://github.com/adriangibbons/php-fit-file-analysis/blob/master/src/phpFITFileAnalysis.php#L779

[code]

If grade messages are in the FIT file then they will be available through:

[code]

You may see gradient in websites such as Strava and Garmin Connect, even though the gradient informatio

[2015-10-15 03:18] adriangibbons commented on #19
Are you saying that you are interested in issue #32 ?

[2015-10-15 03:19] adriangibbons commented on #19
I'm not sure what you mean. Yes it's been while since my last message on the 11 Sep, but I have limited free time and have prioritised other things.

[2015-10-15 09:20] takenokotaketake commented on #19
No, Thank you. it is cheked and slove.

[2015-10-17 04:57] adriangibbons commented on #32
closed by #34

[2015-10-17 04:57] #32 closed

[2015-10-17 05:00] adriangibbons commented on #19
I have implemented a data_every_second option and closed #32. Note that if there are a lot of missing timestamps then performance can be degraded.

[2015-10-19 13:48] takenokotaketake commented on #19
Hello,Sir.
gearChanges() is deleted new version?

[2015-10-20 01:08] adriangibbons commented on #19
Hi - it hasn't been deleted; I've just never merged `gearChanges()` into the master branch. It has only existed in the [Di2-d-fly-gear-change](https://github.com/adriangibbons/php-fit-file-analysis/tree/Di2-d-fly-gear-change) branch, which is now quite a few commits behind the master.

If `gearChanges()` is working for you(?), then perhaps I just need to tidy a few things up and merge it into the

[2015-10-24 06:39] adriangibbons commented on #19
I've added `gearChanges()` to the master branch and removed the Di2-d-fly-gear-change branch.

Could I include the FIT file you sent me online in the Github project? I could do with adding a PHP Unit test for the `gearChanges()` function.

Cheers, Adrian.

[2015-10-25 03:37] #19 closed

[2015-10-25 03:38] adriangibbons opened #35 "Add new Garmin 520 messages/fields"

[2015-11-01 06:59] adriangibbons commented on #27
Also, **HRV**

![image](https://cloud.githubusercontent.com/assets/10218647/10867661/0c9e98ba-80a9-11e5-955c-7748b599fc3a.png)

[2015-11-01 09:19] adriangibbons commented on #35
closed by 54f1bb3

[2015-11-01 09:19] #35 closed

[2016-09-07 19:51] HenkV74 opened #36 "Class does not support Developer Data"
When importing a garmin 820 fit file it errors with "this class can only handle normal headers":

if (($record_header_byte >> 7) & 1) {  // Check that it's a normal header
  throw new \Exception('phpFITFileAnalysis->readDataRecords(): this class can only handle normal headers!');
            }

Anyone has updated code?

Included a copy of the problem fit file.

[niels probleem 820 2016-09-07-05-49

[2016-09-08 01:15] adriangibbons commented on #36
Hi @HenkV74

I will take a look at this when I get chance. I had not catered for headers that are not normal because at the time I developed this class:
- The documentation was not clear on what compressed timestamp headers looked like.
- I hadn't come across a single FIT file that had any contained in them. Thanks for providing one and congrats on your Garmin 820! :)

I think the last version of

[2016-09-08 10:52] HenkV74 commented on #36
Hi Adrian, I invested already quite some time in trying to solve this matter but I think that you can confirm that fit-files are not exactly the most developer friendly protocols. I started using your code some weeks ago as the fit routines I wrote some years ago in the early days of the fit-files started to have some problems with newer devices and I thought that this code was more up to date. Ha

[2016-09-08 12:07] ileafsolutions opened #37 "Not able to access the file from s3"
I am storing Garmin files into a s3 bucket. But when I try to fetch the file from s3 it is displaying  file not found. This is the error which I am getting
phpFITFileAnalysis->__construct(): file 'https://s3-us-west-2.amazonaws.com/uploadedimg/garmin_upload/6465920425' does not exist! in [project_root]/vendor/adriangibbons/php-fit-file-analysis/src/phpFITFileAnalysis.php on line 944

Here is the c

[2016-09-08 14:45] adriangibbons commented on #36
I've been looking at this issue for a few hours and after initially thinking that it was quite straightforward to cater for Compressed Timestamp Headers as they are all DATA_MESSAGES, just with a different structure, but now I am not so sure...

I tried uploading the file to a couple of sites, just to make sure that the FIT file is OK:
- Garmin Connect: it loaded up fine. To be expected as it is t

[2016-09-08 14:51] adriangibbons commented on #37
Hey @ileafsolutions, it's not just a typo?

You've used a slightly different variable name when instantiating the class: **file_S_path**

[2016-09-08 14:55] adriangibbons commented on #37
Do you need to retrieve the file first?

If I go to https://s3-us-west-2.amazonaws.com/uploadedimg/garmin_upload/6465920425 then I just get an error:

`This XML file does not appear to have any style information associated with it. The document tree is shown below.
<Error>
<Code>NoSuchKey</Code>
<Message>The specified key does not exist.</Message>
<Key>garmin_upload/6465920425</Key>
<RequestId>DE1

[2016-09-08 14:57] #27 closed

[2016-09-08 14:57] #31 closed

[2016-09-09 05:49] ileafsolutions commented on #37
Like you mentioned I have corrected the variable passed in phpFITFileAnalysis. But still gets file does not exist.
Actually this file exist in s3 bucket. But even I get same error when I try to retrieve the file via postman. If you provide this same url in browser I get the file downloaded. What could be wrong?

[2016-09-09 06:15] ileafsolutions commented on #37
Modified the code:
$files = Storage::disk('s3')->files($s3folder);
$options = ['units' => 'statute'];
$pFFA = new \adriangibbons\phpFITFileAnalysis($files,$options);

Now the error is
file_exists() expects parameter 1 to be a valid path, array given in [project_root]/vendor/adriangibbons/php-fit-file-analysis/src/phpFITFileAnalysis.php on line 943

Please help!

[2016-09-09 07:05] adriangibbons commented on #37
Hey, I think it's partly because I have built the class assuming people would always be accessing local files. I'll have to drag myself into 2016 at some point ;)

Therefore, I am not sure that the PHP utilities that I am using to read files will behave as expected for remote files on AWS (I have no experience of this)

e.g. `file_exists()` and `file_get_contents()` on lines [943](https://github.c

[2016-09-09 07:12] adriangibbons commented on #37
A work-around may be to retrieve your file from AWS and storing it locally temporarily so that it can be processed by the `php-fit-file-analysis` class.
1. Fetch file 'bar.fit' from AWS and store in folder 'foo/'
2. Instantiate class:

[code]

[2016-09-09 12:52] HenkV74 commented on #36
I looked again for some time and have came up with a bit and think to know where the problem is. You're much more used to your fit code so maybe we can work it out together.

So first get rid of the throw 'can only handle normal data'

 if (($record_header_byte >> 7) & 1) {  // Check that it's a normal header
//  throw etc
    $timeOffset = $record_header_byte & bindec("00011111"); // value 0 to 3

[2016-09-10 01:26] adriangibbons commented on #36
Hi @HenkV74

So, the issue was not there are Compressed Timestamp Headers in your FIT file, but the `php-fit-file-analysis` did not handle Developer Data, added in version 1.9 of the FIT protocol in April 2016. I'll update the title of this issue for posterity.

As a result, the `$file_pointer` was not being updated correctly when Developer Data definition and data messages were encountered and th

[2016-09-10 07:25] adriangibbons opened #39 "Class does not support Compressed Timestamp Headers"
If anyone receives:

Please share an example FIT file and I'll use this for testing the handling of these timestamps. I'd be flying blind without a file to work so I'm not developing this until someone experiences the Exception above being thrown!

Adrian.

[2016-09-10 09:09] ileafsolutions commented on #37
How can you identify the file provided by garmin is .fit or .tcx ? As you know we get the push from garmin without an extension.

[2016-09-10 09:31] adriangibbons commented on #37
FIT files are binary (i.e. not very user friendly to ready, but compact); [TCX files](https://en.wikipedia.org/wiki/Training_Center_XML) are a Garmin implementation of XML (i.e. easier for humans to read, but not efficient when it comes to file sizes) and ASCII. Therefore, a few options spring to mind:
1. Try and parse the file using my class. If it is not a FIT file, then it will throw an excepti

[2016-09-10 11:46] HenkV74 commented on #36
It's ok now! Thanks. So it wasn't afterall a compressed data problem but the filepointer went simply out of sync and left me te believe that it was a compressed header. Thanks for updating!

Maybe you could add also line 850:
                30 => ['field_name' => 'left_right_balance',          'scale' => 4,    'offset' => 0,   'units' => ''],

Regards,
Henk

[2016-09-10 11:46] #36 closed

[2016-09-10 13:06] ileafsolutions commented on #37
Now I am facing another issue. Could you help me on this.
If the file which I am getting is .tcx then I have provided the local storage url inside simplexml_load_file($contents) function. $content contains the local storage url.

But I am getting this error :
simplexml_load_file(): https:/s3-us-west-2.amazonaws.com/uploadedimg/garmin_upload/6508703709-bb2004f5-c9b0-4934-a07c-b8e99f6c8971:1: parser

[2016-09-10 14:03] adriangibbons commented on #37
Hmmmm strange, an XML file should always start with a '<'

Are you sure the URL is correct? Trying to load it myself, it says "no such key..." rather than displaying the contents of an XML file. Also, the URL appears to be remote on AWS, rather than local storage?

Apologies, I don't have any experience of using AWS or simple xml reader so can't help you much.

Adrian.

[2016-09-12 05:22] adriangibbons commented on #36
Hey @HenkV74

commit 83335292d6b1f3f37dc5bc00f6dd2c63c57a2c0a has included some additional Record message field definitions, including:

I'm a bit reticent to create a new release just for this one commit, but I could do so if you're using a package manager for your project.

Cheers, Adrian.

[2016-09-16 12:52] ileafsolutions commented on #37
Thanks a lot for lending a helping hand. I got the file working. As you mentioned downloaded the file from s3 to my local and then parsing the file to plugin.

[2016-09-17 00:38] adriangibbons commented on #37
No worries, glad you got it working! I'll close this issue...

[2016-09-17 00:38] #37 closed

[2016-12-20 15:07] robthompsonweb opened #40 "Matching up indexes when some values missing"
Great library.

How do you go about matching up the indexes when some are missing?
See attatched - its for the 'lap' element from a swim.
Some of the 'total_distance' elements are 0 (resting period) but this means the indexes are missing from 'swim_stroke' making it pretty hard to match up the corresponding distance and stroke. Is this is a bug or is that the way the data comes through? I looked a

[2016-12-28 08:58] adriangibbons commented on #40
Hi, apologies for the delay getting back to you. Things have been quite hectic in the run-up to the holidays.

It's the way the data comes through. Looking at the profile spreadsheet that comes as part of the download from the ANT developer area `swim_stroke` is an enumerated type where:
    0 = freestyle
    1 = backstroke
    2 = breaststroke
    3 = butterfly
    4 = drill
    5 = mixed
    6 =

[2017-02-03 15:28] laufhannes commented on #39
@undertrained is currently trying to convert the current FIT parser of [Runalyze](https://github.com/Runalyze/Runalyze), which is using [mrihtar/Garmin-FIT](https://github.com/mrihtar/Garmin-FIT) (a perl module), to this one. Although there's a lot of other stuff to do in that branch, I already can see that message in our unit tests, thrown by [FR70-intervals.fit](https://github.com/Runalyze/Runal

[2017-02-03 15:37] laufhannes commented on #40
If I understand correctly, the problem of @robthompsonweb is not that `swim_stroke = 0` for some points, but that most arrays have seven elements but some have only four elements. It's probably okay if the missing ones are not set, simply because there's no data for them, but the indices are not consistent, as `swim_stroke[3]` probably relates to `total_distance[5]`.

For test files, there are at

[2017-02-10 13:52] robthompsonweb commented on #40
Sorry for late reply - @laufhannes yes that is exactly the issue.
It seems in order to match up the indexes you need to look at `first_length_index`  or `num_active_lengths` and jump if its 0.
Example FIT file for the swim above attatched - guess it would be nice if you set these indexes to null or something.
[example.txt](https://github.com/adriangibbons/php-fit-file-analysis/files/766848/example

[2017-02-11 08:27] adriangibbons commented on #39
Thanks @laufhannes  I'll take a look when I get chance, but very busy right now. Very useful to have a FIT file with a compressed timestamp header 👍

[2017-03-22 08:45] rafaelnajera commented on #39
As far as I can tell there's nothing more to compressed TS than to calculate the record's timestamp with the most recent full TS and the record's offset using the formula given in the FIT documentation.  I just did a pull request with code that I think implements this feature, please have a look.

BTW, thanks for the library, it's really useful.

[2017-03-23 07:32] adriangibbons commented on #39
@rafaelnajera Hey, thanks for the PR! I will get round to reviewing this properly soon. At first glance it looks good. I didn't think it was overly complex, just haven't had much free-time lately and up until recently no FIT files with compressed timestamps to test with!

[2017-03-31 05:15] adriangibbons commented on #39
Closing this issue following merging PR from Rafael. Will probably add a test or two for the new code and include a FIT file with a compressed timestamp. Thanks all

[2017-03-31 05:15] #39 closed

[2017-04-21 10:33] robthompsonweb opened #42 "Error: phpFITFileAnalysis->readHeader(): file_header['data_size'] does not seem correct!"
Hi again,

Run into the above error with a FIT file from a brand new Garmin Forerunner 395 watch. If you comment out the line that throws the error it will parse it but some information is missing.

Ie Record->heart_rate is not present (but it is present in the lap array). This information is definitely in the file as if you upload it to Garmin connect its shown.

This watch seems to have been add

[2017-04-21 11:24] robthompsonweb commented on #42
on further inspection seems the HR data comes through in the fit file in a new "hr" index. I will see if I can add this but any ideas about the header check - not quite sure what is going on their!

[2017-04-25 06:19] adriangibbons commented on #42
Hi Rob, I've had a quick look. Unfortunately the thisisant developer page is down so I can't download the latest version of the standard to see what is going on.

I did few ```var_dump()``` just before the exception in question is thrown.

[code]

So we can see that the data size in the header is nowhere near the size of the file. I wonder if a load of new header gubbins and stuff is in the file n

[2017-04-26 07:20] adriangibbons commented on #42
Hey @robthompsonweb - I've downloaded the FIT standard just now and it doesn't look like anything has changed that should be causing this issue (albeit I've only looked for 10mins!):

![image](https://cloud.githubusercontent.com/assets/10218647/25422405/5d2fb0f8-2a93-11e7-858b-6ee6cc951151.png)

It's a bit perplexing as the file size is ~59kb however ```$this->file_header['data_size']``` reports t

[2017-04-26 07:43] adriangibbons commented on #42
Also, is it a Garmin FR 935? I can't find a 395 on the web so guess that was a typo? Nice looking piece of kit - I've still got an older Forerunner but don't really run enough to justify a new watch! :)

[2017-04-26 08:55] robthompsonweb commented on #42
Hey,

So its not actually my watch unfortunately - I was just getting the device type from file_id->product (fr935).
All other FIT files work fine - I assumed it was a problem with this one but have tried uploading it to Strava and Garmin connect and works fine. The java tool to convert to CSV in the ant sdk also seems to parse it fine.

Another example (from the same watch I think):
[1650639073.t

[2017-04-27 08:55] bvbever opened #43 "question: php fit 2 ways"
It's great that your code analyse fit files.
is the opposite diretion possible: Is there a possibility to create fit files starting from some coordinates ?

[2017-04-27 11:03] adriangibbons commented on #43
Hi @bvbever

It is definitely possible to create (encode) a FIT file programmatically but this class does not do that. You'd use PHP's ```pack()``` rather than ```unpack()``` as this class does.

I'm pretty sure there are other projects here that enable you to encode a FIT file, though they may be in another language.

Do you need this functionality in PHP? What's the use case you want to do this

[2017-04-27 13:50] benjamin-rty commented on #43
Hi @adriangibbons
There are indeed other projects that encodes a FIT file, but I need it in PHP. Our entire framework uses PHP.
There is something like https://github.com/krwes/fit-php that uses somekind of older library.
For the moment I uses your code to go from FIT to GPX.

cheers,

[2017-05-01 05:12] adriangibbons commented on #43
Hi @bvbever
What's the framework? I went to your Github page but can't see your repos.
Cheers, Adrian.

[2017-12-04 09:38] xjack913 commented on #42
Hi, this file will show this error, too.
"phpFITFileAnalysis-&gt;readHeader(): file_header['data_size'] does not seem correct!"

Any solution? Thank you very much.

[7BTI2946.FIT.TXT](https://github.com/adriangibbons/php-fit-file-analysis/files/1526444/7BTI2946.FIT.TXT)

By the way, this file works fine at garmin connect.

[2017-12-05 02:21] adriangibbons commented on #42
Hi @xjack913

I'm working on a longer-term fix, but in the meanwhile you can just comment this code out so that it doesn't throw the exception. It will likely be related to heart rate data being in their own 'HR' messages, rather than where they've traditionally been: i.e. 'Record'->'Heart_rate', so you may not see these either.

Seems to be a pivot on Garmin's behalf as to their preference on cap

[2018-01-03 20:36] adriangibbons commented on #42
Hi @xjack913 I've just made commits and up-versioned to v3.1.0 - does you file work OK now? Cheers, Adrian.

[2018-01-04 04:12] xjack913 commented on #42
@adriangibbons Cool, thank you very much. I will be back after testing all those files.

[2018-02-13 14:26] #42 closed

[2018-02-13 14:26] #40 closed

[2018-02-13 14:31] robthompsonweb opened #45 "FatalErrorException: Unsupported operand types"
Getting the following error when using the attached FIT file with HR:
(1/1) FatalErrorExceptionUnsupported operand types
--
in phpFITFileAnalysis.php (line 2713)

Using the latest master version - looks like $last_event_timestamp is an array of 2 elements rather than the expected integer but not sure how you match the correct version to use..

[error3.txt](https://github.com/adriangibbons/php-fit-

[2018-02-13 16:49] danny-36 opened #46 "from fit file to mysql db"
Hi Adrian,

I love your php class and use it for a personal project to show my cycling data.
Now I would like to put into mysql db all my fit files for a few years so I can create a custom reports and graph.

I would like to have your opinion on how to organize the mysql db tables.

Thanks.

Daniele

[2018-02-14 10:47] adriangibbons commented on #45
Will take a quick look now but I think the wife is expecting some of my attention, given what day it is :)

Might be the weekend before I get to take a proper look...

Is the FIT file recorded with a different device? Cheers

[2018-02-14 10:48] adriangibbons commented on #46
Hi @danny-36 - glad that you're getting some enjoyment out of it!

I actually created a project at home a while back that stored all my rides into a DB. I'll share the SQL here for creating the tables if that's any good for you!?

[2018-02-14 10:50] robthompsonweb commented on #45
Haha no rush – was just flagging it.

Its from a Garmin fēnix 5X – the swim uploaded to garmin connect is https://connect.garmin.com/modern/activity/2497435759

From: Adrian Gibbons <notifications@github.com>
Reply-To: adriangibbons/php-fit-file-analysis <reply@reply.github.com>
Date: Wednesday, 14 February 2018 at 10:47
To: adriangibbons/php-fit-file-analysis <php-fit-file-analysis@noreply.github

[2018-02-14 10:53] danny-36 commented on #46
yes for sure, I'd like to see how you organized the data into db.

[2018-02-21 10:23] adriangibbons commented on #45
The Garmin Connect page can't be viewed any longer.

Try inserting the following at [line 2703](https://github.com/adriangibbons/php-fit-file-analysis/blob/master/src/phpFITFileAnalysis.php#L2703)
[code]
You might need to try ```$last_event_timestamp[1]``` if heart rate isn't working.

If this works then I'll commit the change to the project. Cheers, Adrian.

[2018-02-21 11:18] adriangibbons commented on #46
Hi, I actually deleted the project and can't find it :'(

You could try the following as a starting point:

[code]
Hope this helps!

[2018-02-26 10:07] danny-36 commented on #46
perfect, I try with this. Thank you.

[2018-02-28 05:27] adriangibbons commented on #45
Hey @robthompsonweb - do thing now work as expected for the file(s) throwing the error?

Cheers, Adrian.

[2018-03-05 13:04] robthompsonweb commented on #45
Yes so I did try it with [0] and [1] (not sure what data this is) which removes the error but only seems to give HR for half the activity (but garmin connect displays it for the whole activity).

Looking at the field record->heart_rate the last timestamp is 1518258007 - which is only about 1/3 through the activity (record->timestamp[988] out out of 3424)
[Json export ](https://jsonblob.com/69daeb6

[2018-03-08 09:18] danny-36 commented on #46
The $pFFA->data_mesgs['file_id']['serial_number'] show a negative number (es: -513557248) this is a unique id for each file?

[2018-03-09 06:15] adriangibbons commented on #46
Looking at the ANT+ documentation, there isn't a whole lot said on ```file_id.serial_number```

Though it surprises me that it's a negative number as this should be of type ```uint32z```, which is an unsigned 4 byte integer. Using 2's complement, I guess if this is being unpacked correctly then it should be 3781410048, not -513557248.

What is it that you're trying to achieve / do with this serial

[2018-03-09 08:41] danny-36 commented on #46
I have noticed that this number does not change if I read a different fit file.
I want to track all the files imported into the db. I have now created a custom identifier for all file.

I have tested a php script for import 20 files and there are no problems but how can I import all files of one year ride withoyt timeout php script problem?

[2018-03-10 05:23] adriangibbons commented on #46
You could use the initial timestamp to identify which rides you already have. It'll be unique to each ride.

For the timeout problem, you'd need to edit you php.ini file - look for ```max_execution_time```

[2018-03-23 04:22] xjack913 opened #47 "v3.1 Unsupported operand types from the fit file from TomTom"
I just updated the version to v3.1 and there is an error of "Unsupported operand types"
in /home/ubuntu/workspace/vendor/adriangibbons/php-fit-file-analysis/src/phpFITFileAnalysis.php at line 1446.

Could you please fix this or What should I do? Thank you.

[run-20180322T212609.fit.TXT](https://github.com/adriangibbons/php-fit-file-analysis/files/1840173/run-20180322T212609.fit.TXT)

[2018-04-02 10:26] adriangibbons commented on #47
Hi @xjack913  - see issue #45. Could you let me know if that works for you?

I have started working on a fix. The commits are in the master branch but ahead of the latest release. I'll up-version once we know that the issue is addressed.

[2018-04-03 02:08] xjack913 commented on #47
Hi, @adriangibbons I tried inserting the code issue #45 mentioned at line 2703, but it doesn't work.

I find out that the field_name "start_time" of each message_name "lap" of fit files from TomTom users is an array, not a timestamp. Therefore, when do add or sub operator to "this array" at line 1446 or 1493, it shows a Fatal Error Unsupported operand types.

Any suggestions? Thanks.

[2018-04-16 15:40] xjack913 opened #48 "Get Cadence field failed when Stryd Power IQ app installed"
Hi,

All values of cadence filed are 0, when Stryd Power IQ app installed.  Could you handle this problem? Thanks.

Stryd Power IQ app link:
https://apps.garmin.com/en-US/apps/660a581e-5301-460c-8f2f-034c8b6dc90f

The activity with Stryd Power IQ app:
[activityWithStydPowerIQApp.fit.txt](https://github.com/adriangibbons/php-fit-file-analysis/files/1916045/activityWithStydPowerIQApp.fit.txt)

[2018-04-18 07:06] adriangibbons commented on #48
Hi @xjack913

My money is on it being related to Issue #42

Except related to cadence rather than heart rate i.e.

Though I'll need to check this out more thoroughly!

[2018-04-19 10:30] adriangibbons commented on #48
OK, so doesn't look like it is similar to #42

Looking at the record messages:
[code]
I notice that they are indexed with the timestamps. However the cadence array is the right size (i.e. 1,962 data points), but they are all zeroes and not indexed using timestamps:
[code]
I'll need to look into this further to figure out what's going on...

Adrian.

[2018-04-19 11:50] adriangibbons commented on #48
It was due to developer data overwriting native fields. For some reason the dev data contained just a bunch of zeroes. Give v3.2.0 a whirl, all changes are committed in the master branch so you can just download the latest phpFITFileAnalysis.php if you're not using Composer.

Should work 🤞

[2018-04-21 05:36] xjack913 commented on #48
@adriangibbons Thank you very much. All cadence values appear at v3.2.0!

[2018-04-23 13:14] #46 closed

[2018-04-23 13:15] adriangibbons commented on #47
Hi @xjack913 do you still get this issue now in v3.2?

[2018-04-24 02:58] xjack913 commented on #47
Thanks, these fit files from TomTom users work fine in v3.2.

But a file show another issue, Division by zero in /home/ubuntu/workspace/vendor/adriangibbons/php-fit-file-analysis/src/phpFITFileAnalysis.php on line <i>1962</i>

`$this->data_mesgs[$message][$field] = round(60 / 3.6 / $this->data_mesgs[$message][$field], 3);`

[610464.fit.txt](https://github.com/adriangibbons/php-fit-file-analysis/fi

[2018-04-24 07:28] adriangibbons commented on #47
Great, that's good to know.

Is this file throwing the new error uploaded to Garmin Connect, Strava,
etc? It's useful to see the information and charts shown on this kind of
site to try and ensure this class is producing the same info.

Cheers, Adrian.

On 2018-04-24 10:58 am, XJack wrote:

$this-\u003edata_mesgs[$message][$field], 3);`\r\n\r\n[610464.fit.txt](https://github.com/adriangibbons/php-

[2018-07-05 07:15] xjack913 commented on #47
Hi, @adriangibbons ,

Recently, I got some fit files without session info, but other services like garmin connect and strava could handle these fit files as well. Could you please help me to take a look ? These fit files as below.

[2775379975.fit.txt](https://github.com/adriangibbons/php-fit-file-analysis/files/2165344/2775379975.fit.txt)
[2780451464.fit.txt](https://github.com/adriangibbons/php-

[2018-07-06 02:03] adriangibbons commented on #47
Hi @xjack913 - I had a look at the first file and confirm that there isn't Session information being collected in there. I'm pretty sure that session is not a mandatory field/message - in fact I think pretty much everything in the ANT FIT protocol is optional. Perhaps the Lap field/message contains the information you are looking for?
[code]

[2018-07-06 07:12] xjack913 commented on #47
Hi, @adriangibbons ,

I did try to collect what I need from the lap field, but all results show that all information including distance, total_timer_tiime, avg_speed.. etc are different with those shown at other services.

For example, the timer time filed of first file is 340.741 secs as you shown, but it is 1768 secs by Strava or Garmin connect which matched the user feedback. Thanks.

[2018-07-06 10:27] adriangibbons commented on #47
Can you make the Garmin Connect activity public and share the URL to the webpage? I get elapsed time of 340.741 in the lap field but when I compare max and min timestamps I get a different duration again!
[code]

[2018-07-12 06:07] xjack913 commented on #47
Hi, @adriangibbons ,

Sure. Thanks.

2775379975.fit
[https://connect.garmin.com/modern/activity/2827370458](https://connect.garmin.com/modern/activity/2827370458)

2780451464.fit
[https://connect.garmin.com/modern/activity/2844876841](https://connect.garmin.com/modern/activity/2844876841)

2825367441.fit
[https://connect.garmin.com/modern/activity/2844877379](https://connect.garmin.com/modern/acti

[2018-07-13 09:55] ghost commented on #48
Hi
I have same issue. power start from index 0

[2018-07-16 02:45] adriangibbons commented on #48
Hi - assuming you are using the latest version (3.2.0), could you share a .FIT file? You may need to change the extension of the file to .txt so that Github will let you attach it! Thank you

[2018-07-16 06:31] ghost commented on #48
cadence: [1531521159] => 0
    [1531521160] => 0
    [1531521161] => 0
    [1531521162] => 0
    [1531521163] => 92
    [1531521164] => 0
    [1531521165] => 0
    [1531521166] => 24

power: [0] => 0
    [1] => 0
    [2] => 0
    [3] => 0
    [4] => 0
    [5] => 0
    [6] => 0
    [7] => 23
    [8] => 62
    [9] => 110

[4006_22621334870.txt](https://github.com/adriangibbons/php-fit-file-analysis/

[2018-09-11 12:58] OlafvdSpek opened #49 "Undefined offset: 25 in vendor/adriangibbons/php-fit-file-analysis/src/phpFITFileAnalysis.php on line 1228"
[code]

[2018-09-11 14:37] OlafvdSpek commented on #49
[code]

[2018-09-12 10:08] adriangibbons commented on #49
Hi @OlafvdSpek - obviously something is going quite horribly wrong! The $architecture should only be 0 or 1 for big or little-endianess.

Are you able to share a FIT file where this is happening? What type of activity and what device have you used to record it?

Cheers, Adrian.

[2018-09-12 10:11] adriangibbons commented on #48
Hi @cklong2kbomdic - sorry I haven't had time to look at this. I guess you're saying that the power array needs to be indexed using the same as other fields e.g. cadence is using timestamp in your example above?

Have you been able to fix this yourself?

Cheers, Adrian.

[2018-09-13 12:29] OlafvdSpek commented on #49
Sure, what's your email address?

[2018-09-16 02:14] adriangibbons commented on #49
You can save a file as a .TXT and upload it here if that works? Cheers

[2018-09-16 08:12] OlafvdSpek commented on #49
I'd like the file to stay (semi) private..

[2018-09-17 07:47] adriangibbons commented on #49
adrian.github@gmail.com

[2018-09-21 20:51] drewvelo opened #50 "question: chronological access to laps, events and records?"
Hi

First, thanks for a truly useful project that is making me attempt an exercise database so much more doable.

Apologies, this is a question rather than an issue. Whilst most applications show lap splits, nothing really allows drilling down into what I term 'legs' i.e. portions of activity between pauses of the timer during a lap. I have a test file where the end of lap 2, the start of lap 3, a

[2018-09-26 06:32] adriangibbons commented on #50
Hi @drewvelo

The ```isPaused()``` method may be of some use to you. [Line 2264:](https://github.com/adriangibbons/php-fit-file-analysis/blob/master/src/phpFITFileAnalysis.php#L2264)

[code]

Have you downloaded and used the **FitSDK** from the ANT+ [website](https://www.thisisant.com/resources/fit)? Open up the **java** sub-directory and drop your FIT file onto the **FitToCSV.bat** batch file. It

[2018-09-29 12:26] drewvelo commented on #50
Thanks for this. I've had a look through the SDK before and found the spreadsheets useful, but don't think I've quite got the file format straight in my head. I'll have a play with the isPaused function and experiment with the CSV converter, both of which should help further my understanding.

PS: my friend's (presumably UK spec) Garmin Edge 1030 uses the product ID 2713.

[2018-12-07 06:39] Fjeldfross opened #51 "Problem with some latitude fields?"
The first entries for position_lat and position_long in one of my FIT files are [1539031114] => -40.64575 and   [1539031114] => 175.29212. Yes, I'm in New Zealand!

However, I have lap[start_position_lat] => _220.64569_, lap[start_position_long] => 175.29196, lap[end_position_lat] => _220.86769_, and lap[end_position_long] => 175.06788, and session[start_position_lat] => _220.64569_, session[start

[2018-12-10 13:00] adriangibbons commented on #51
Hey Bru :)

I'm in Australia and hadn't noticed any issues with my files from Garmin devices. Have a look at the Mountain-Biking demo - would be keen to know whether the lap info is out?

Please could you also see if when using Raw units (i.e. no conversion applied) the first lat/lon matches up with the start_position_lat and lon?
[code]
By default, the data is converted from semicircles, which yo

[2018-12-14 10:38] Fjeldfross commented on #51
Hello Adrian,

Thanks for your reply. I’ve dumped the mountain-bike.fit file using my FITDump program and also modified it to do a raw units dump as you suggest. This is what I get:

mountain-biking.fit
    Dumped using $pFFA = new adriangibbons\phpFITFileAnalysis($fileSpec);

    [lap] => Array
        (
            [timestamp] => 1371880151
            [start_time] => 1371867999
            [sta

[2018-12-14 23:19] Fjeldfross commented on #51
I've done some exploring and have discovered a problem that doesn't seem to be anything to do with the php-fit-file-analysis code. In fact I haven't touched the php-fit-file-analysis code at all.

The original test that I did that was giving me strange latitude values was done with an executable image that I had build using RapidEXE ([http://deneskellner.com/sw/rapidexe](url)).

I modified my code

[2018-12-15 05:57] adriangibbons commented on #51
Sounds like the problem lies with RapidEXE, which looks like quite an interesting utility - I may have a use for something like that in future!

My first thoughts are that perhaps it is something to do with the way it is handling floats. From the article I shared:

What do you get if you output the following, using both with RapidEXE and without?
[code]

[2019-01-14 06:16] xjack913 commented on #47
Hi, @adriangibbons

These are other examples without session info and detail info differ with the same file uploaded to garmin connect.

[2764794397.fit.txt](https://github.com/adriangibbons/php-fit-file-analysis/files/2754138/2764794397.fit.txt)
https://connectus.garmin.cn/modern/activity/2827424537

[2780451464.fit.txt](https://github.com/adriangibbons/php-fit-file-analysis/files/2754142/2780451

[2019-03-12 16:48] DenesKellner commented on #51
Hi, I'm the author of RapidEXE and I'd like to help.
Can you make a minimal php file to me that still produces this weird phenomenon?
Also, which PHP version are you using with the compiler?

[2019-03-13 08:50] adriangibbons commented on #51
Hi @DenesKellner - will need @Fjeldfross to supply.
Adrian

[2019-03-15 09:56] Fjeldfross commented on #51
Hello Dénes,
I did send you a message when I first came across this problem. I can't track the message down now. Anyway...
I'd be happy to send you a copy of my code. It's not very large but you'd also need the code from this repo too. I could also send you a FIT file to play with.
At the moment that's the best that I can do. I've been running flat out on other things and haven't had time to do ev

[2019-03-15 22:36] DenesKellner commented on #51
Hi Fjeldfross,

please do send all necessary files to me, I'm gonna take a look at it! Meanwhile, you might want to try it out using PHP 7.2 which is RapidEXE's default engine; I'm not expecting any difference but one can never know.

_developer_ at _deneskellner_ dot com is the way.

[2019-03-16 02:24] Fjeldfross commented on #51
@adriangibbons

So running your test with PHP Version 5.6.23:

[code]
I can't see a difference between the two.

All the best,
Fjeldfross

[2019-03-16 02:27] Fjeldfross commented on #51
@DenesKellner

I'll gather together the files and e-mail them to you. It'll probably be a couple of days.

Thank you.

All the best,
Fjeldfross

[2019-03-17 06:01] Fjeldfross commented on #51
@DenesKellner

I'v just e-mailed a package of files to you for you to explore. I hope that helps. I'm interested in what you find.

All the best,
Fjeldfross

[2019-03-17 06:02] Fjeldfross commented on #51
Oops. I didn't mean to close the issue. sorry.

[2019-03-18 10:08] DenesKellner commented on #51
So, it turns out that by the time I had a chance to open the code samples, the issue has already been resolved; it was about **PHP versions**. I'm glad I didn't screw up any floating point numbers today :)

Also thanks for the improvement tips, @Fjeldfross !

[2019-05-15 07:56] OlafvdSpek commented on #49
Hi Adrian,

Any luck?

[2019-06-19 15:48] LudoWeb opened #52 "Notice: Undefined offset: 84 in phpFITFileAnalysis.php on line 1228"
Hi,

I have an issue with the parser.

`( ! ) Notice: Undefined offset: 84 in \vendor\php-fit-file-analysis\phpFITFileAnalysis.php on line 1228`

Do you have any idea about this issue ?
Many thanks

[2019-06-20 03:04] adriangibbons commented on #52
Can you confirm the offending line 1228 is:
```$this->types = $this->endianness[$architecture];```

It would seem that ```$architecture``` has a value of 84, which won't work as it should only be 0 or 1 depending on whether little or big-endianness should be observed.

What device was the FIT file created with? E.g. a Garmin Forerunner XX or whatever.

Do you only have the issue with one FIT file

[2019-06-20 07:42] LudoWeb commented on #52
It's a Suunto device. I have the issue with one FIT only.

See the file in attachment.

Many thanks :)

[2019-06-22 00:14] co-wurker opened #53 "Precision rounding of fields"
Forgive me if this is overly simplistic, however, I'm new to Github and not familiar with the way things typically work. This is more of a feature request...

The rounding of units is restrictive in some cases. For example, distance fields are rounded to 2 decimal places. In many cases, due to the restriction, the maximum data resolution is greater than the maximum GPS error at 95% confidence leve

[2019-06-24 03:55] adriangibbons commented on #53
Hi @co-wurker and welcome to Github!

I'll look into it. Yes I agree that if you're using statute or metric units then distances are rounded to miles/kilometers to 2dp, which on the face of it doesn't seem very granular.

That said, for people's sporting activities it seems about the right level of detail and indeed I think the likes of Strava etc don't go below this when analysing activities.

I'

[2019-06-25 08:48] LudoWeb commented on #52
Hey @adriangibbons,

Were you be able to check the issue ?

Edit : the device was "Forerunner 735XT" with "Ceinture Cardio Garmin HRM Swim" and none a suunto device.

[2019-06-26 00:54] co-wurker commented on #53
Thanks for the prompt response, much appreciated man.

So, I just made a quick change to your file for my own purposes at the moment. My only complaint about the 2dp is when it comes to doing any sort of calculations, say if/when resampling a path, there's some likelihood of any calculation being up to 10 meters off due to rounding. GPS error is typically within a radius of ~ 8 meters, so rounding

[2019-06-26 05:23] adriangibbons commented on #53
No worries, makes sense! I'll work on an option but may be a little while before I go around to this.

Here's a couple of links to ANT/FIT resources:
https://www.thisisant.com/developer/ant/ant-fs-and-fit1/
https://www.thisisant.com/forum/

For resampling, I have used [david-r-edgar/RDP-PHP](https://github.com/david-r-edgar/RDP-PHP) and had good results!

[2019-06-26 06:45] adriangibbons commented on #52
Hi @LudoWeb I have looked into this issue for the past 3 hours and not got very far.

I don't understand why the architecture is coming up as something other than 0 or 1.

Only thing I can think of is that this Forerunner combined with the HRM belt is using compressed HR fields, which I don't think the class currently supports. I read the FIT documentation and unfortunately, it is not obvious to m

[2019-07-01 12:16] #51 closed

[2019-07-03 13:41] LudoWeb opened #54 "Issue about"
Hello Adrian :)

I have an issue with the parser. Unfortunalty, `data_mesgs['record']` is null and i don't have any data.

This line seems to be the problem :
`$this->file_header['data_size'] = $this->file_header['crc'] - $header_size + 2;`

See attachment : [my-session.txt](https://github.com/adriangibbons/php-fit-file-analysis/files/3355141/my-session.txt)

It's a session recorded with Garmin Fo

[2019-07-04 04:59] adriangibbons commented on #54
If you insert the following after that line, what do you get?
[code]

[2019-07-04 20:17] LudoWeb commented on #54
`$this->file_header['crc']: int 635`
`$header_size: int 14`

[2019-07-05 01:40] adriangibbons commented on #54
Hmmm, seems like a small file
$this->file_header['data_size'] = 635 - 14 + 2 = 623
I will try find some time at the weekend to investigate

[2019-07-15 07:13] LudoWeb commented on #54
Hey @adriangibbons,

Any idea about this issue and how to fix it ?

Thanks!

[2019-07-19 13:20] adriangibbons commented on #54
Are you able to share the file? You will probably have to change the file extension to .txt

Presumably the file works fine with Garmin Connect / Strava / etc?

[2019-07-19 13:36] LudoWeb commented on #54
Yes, the file seems to work fine with Garmin Connect and Strava.

Here's the share file: [error-file.txt](https://github.com/adriangibbons/php-fit-file-analysis/files/3411266/error-file.txt)

Thanks,

[2019-08-06 07:28] LudoWeb commented on #54
Hello @adriangibbons,

Were you able to check the issue ?

[2019-08-08 19:40] adriangibbons commented on #54
Hi, I had a quick look but didn't get anywhere. Then I've been on holiday a couple of weeks. Back in about a week or so and then will have more time. Have been so busy!

[2019-09-06 13:25] lnovali opened #56 "getJSON function for laps or other fit sections"
Is it possible to have new getJSON functions for other FIT sections? This function extracts only data from "record" section, but I need also an extractor for "lap" section.
Thank you so much for this helpful lib!

[2019-09-09 01:55] adriangibbons commented on #56
Hi @lnovali - off the top of my head it should be fairly straightforward to enable this. It might have to be through a call like getJSON("lap") or getJSON("all") to prevent breaking the API for others.

I'm very busy these days with other projects, but I'll try get round to this soon.

[2019-09-30 08:48] OlafvdSpek commented on #49
@adriangibbons Ping ;)

[2019-10-05 02:45] adriangibbons commented on #49
Hi @OlafvdSpek

Are you still having issues? You'd shared two files with me via email:

**garmin.fit**
As discussed via email, neither of us is able to reproduce the error and everything seems OK.

**1.fit**
This doesn't seem like an activity is recorded in the file (which is only 494 bytes) - maybe something went wrong when recording this.

This is confirmed if I upload to Strava:

![Screen Shot

[2019-10-05 03:46] adriangibbons commented on #56
@lnovali have a look at the ```getJSONLap()``` method I just added in f6427a0ad9997b4af053019d46ea3feb0326318c

I've this meets your purpose then I'll roll into a new release.

Initially I tried to create something more generic, but got tied-up in knots.

[2019-10-08 09:08] OlafvdSpek commented on #49
[code]

[code]
[code]

[code]

[code]
[code]

[2019-10-08 09:11] OlafvdSpek commented on #49
Hi Adrian,

Maybe, but shouldn't the lib be able to handle that without PHP warnings?
I've emailed you 2.fit, a file that causes other warnings / errors. Let me know if you can reproduce them.

[2019-11-07 09:59] adriangibbons commented on #49
Just made a quick commit that should fix the issue with 1.fit
Family, work, life, other projects have been preventing me from progressing the other issues.

[2019-11-07 10:01] OlafvdSpek commented on #49
Thanks!

[2019-12-02 14:57] vallsjm opened #58 "loadFromFile, loadFromData Suggestion..."
I will suggest a litte change:

I have a REST api, that api have a method in order to import a FIT file. I am using this class after import, but, is imposible load RAW content. I need first write the content in a file and after that load with phpFITFileAnalysis.

Have sense a function like that?
`loadFromFile($file_path, $options = null)`
`loadFromData($data, $options = null)`

[2019-12-08 12:44] adriangibbons commented on #58
Hi @vallsjm

Sounds good, though I thought that @roznet had added such functionality in #55

See 4899406af62979c86b9a8d9eb0275017047d6ee2 where ```__construct($file_path, $options)``` became ```__construct($file_path_or_data, $options)```

Though I recall that @roznet was loading data from a database rather than an API. Not sure of the differences in how this manifests itself though, if any.

Do y

[2019-12-08 15:31] roznet commented on #58
Yes, I added that functionality exactly for this type of use case. But because I don't think (or know how) it's possible to have constructors in PHP with two types of inputs, I used the same constructor with an option to indicate the input is data as below. If there is a better way, happy to help.

[code]
where `$data` either is result of querying a database or from a REST api, in my case the file

[2019-12-10 10:06] vallsjm commented on #58
Hi guys,

I think this is a great solution. Enough for me. It's more elegant than loadFromData.

Thank you very much!!

[2019-12-10 10:06] #58 closed

[2020-01-09 01:35] alexfraundorf-com opened #59 "incorrect speed values"
Hi Adrian,
I am having a problem with speed values that I was hoping you could help me hunt down.  I am getting a larger value for average speed than I am for max speed when I var_dump data_mesgs['lap'].
Below is what I am getting for those two sets.  I have the fit file available here: https://www.dropbox.com/s/ep31ebzc7s1izu3/file.fit?dl=1
Thank you,
Alex

["avg_speed"]=>
  array(8) {
    [0]=>

[2020-01-09 01:39] alexfraundorf-com commented on #59
This screenshot shows what should be the correct values according to https://www.fitfileviewer.com/
![2020-01-08_07:37:20](https://user-images.githubusercontent.com/3129371/72030442-93661480-324e-11ea-9732-7eb40810f872.png)

[2020-01-09 07:33] adriangibbons commented on #59
Hi Alex, I’m on holiday at the moment and can’t do much investigation. If you upload your file to a service like Garmin Connect or Strava (etc), do you get the issue present itself there?

[2020-01-09 14:46] alexfraundorf-com commented on #59
Hi Adrian,
No, the issue seems to only be with in this library.  It shows correctly on Garmin Connect and fitfileviewer.com.  It is also not just this particular fit file, but a problem I am having consistently.  I am wondering if the settings I am using could be the problem or if the units are not being loaded properly.
These are the options I am using:
$options = [
    'fix_data'

[2020-01-09 14:56] alexfraundorf-com commented on #59
I set the $options parameter to null and now I get the correct speed values in km/hour:
  ["avg_speed"]=>
  array(8) {
    [0]=>    float(10.994)
    [1]=>    float(11.995)
    [2]=>    float(9.68)
    [3]=>    float(14.605)
    [4]=>    float(9.652)
    [5]=>    float(14.807)
    [6]=>    float(10.271)
    [7]=>    float(15.934)
  }
  ["max_speed"]=>
  array(8) {
    [0]=>    float(12.326)
    [1

[2020-01-09 15:14] alexfraundorf-com commented on #59
Adrian,
It turns out that it was the option of 'pace' set to true that was causing the speeds to get messed up.
I'm not sure why, but this works as a fix, so there is no rush on this issue on my account.
Enjoy your holiday and thanks again!
Alex
The following options get me the correct data:
$options = [
    'fix_data'                => ['all'],
    'data_every_second'       => false,
    'units'

[2020-01-09 15:22] alexfraundorf-com commented on #59
Or is this not a bug, but my misunderstanding of how the pace option works?
If the pace option is set to true, is it the pace value in minutes being returned in the average_speed and max_speed arrays?

[2020-01-10 09:01] adriangibbons commented on #59
Ah yes, the max and averages will be affected as pace overwrites the speed data. From the README:

If required by the user, pace can be provided instead of speed. Depending on the units requested, pace will either be in minutes per kilometre (min/km) for metric units; or minutes per mile (min/mi) for statute.

Typically you'd use speed (unchanged) for a bike ride and pace for a run. Do you use bot

[2020-01-10 14:38] alexfraundorf-com commented on #59
My apologies Adrian.  I completely missed that in the README.
Having access to both speed and pace would be useful, but I agree that it could cause problems for current users.
Currently I am getting speed from your library and calculating pace, which is a simple calculation.
Thank you again for your library and sorry for wasting your time on this.

[2020-01-10 14:38] #59 closed

[2020-03-09 09:43] MaKe81 opened #60 "pause or smart record"
Hi,
How does the code separate between a Pause or just a Smart Record (sampling not every second)?

[2020-03-24 01:45] conejog opened #61 "data_mesgs['session'] is null"
Hi, im testing your parser (great job) but i have a problem.

I have an issue with the parser. Unfortunatly, data_mesgs['session'] is null and i don't have any data.
 data_mesgs['record'] is ok, full of data. the fit file is ok, is a bike workout (2 hours duration).
recorded using forerunner 935. i tested the fit in fitfileviewer.com and is ok.
do you know where is the problem?

thanks so much.

[2020-03-25 00:00] adriangibbons commented on #61
Hi, my understanding of the FIT protocol is that there are not many mandatory fields. I don't think a valid FIT file is required to have Session messages within it.

Is it just for one file (for your Garmin 935) that you get this or all? As a workaround, you can probably derive the information in Session from the Record data.

If you're able to share a FIT file here then I can take a look. I will

[2020-03-25 00:12] adriangibbons commented on #60
Hi, if you look at the ```isPaused()``` method on https://github.com/adriangibbons/php-fit-file-analysis/blob/master/src/phpFITFileAnalysis.php#L2440

It looks for ```start``` and ```stop_all``` events, which I found to be ones of interest when developing this functionality. From the Profile.xlsx file from the [FIT SDK](https://www.thisisant.com/developer/resources/downloads):

event_type | enum |

[2020-03-25 18:05] conejog commented on #61
hi , here is the file
seems ok, i can see all the data in training peaks, garmin connect and fitfileviewver.com.
i don't know where is the problem....
[77212839306.txt](https://github.com/adriangibbons/php-fit-file-analysis/files/4382645/77212839306.txt)

[2020-03-25 20:45] conejog commented on #61
i have a new one (from other device) with a similar problem.
says Uncaught Exception: phpFITFileAnalysis->readHeader(): not a valid header size!
but the file is ok
[78091779901.txt](https://github.com/adriangibbons/php-fit-file-analysis/files/4383449/78091779901.txt)

[2020-04-01 07:52] adriangibbons commented on #61
Just ran the x06.fit file through the SDK parser and there is ```session``` messages in there so I am investigating...

[2020-04-01 08:30] adriangibbons commented on #61
First look and I'm a bit stumped. Looking at the protocol to see if anything has changed and I note:

So there definitely should be ```session``` information in the file (confirmed by the FitCSVTool.jar). I just don't see any messages with a global message number of 18, which relate to session messages.

[2020-04-16 15:04] conejog commented on #61
Hi, how are you?
do you have any update?
thanks. greetings,

[2020-06-28 12:42] pitcock opened #62 "example for leaflet js"
Hi,

is there also a "mountain-biking.php" example using the OpenStreetMap services with leaflet.js instead of Google maps?

Regards

[2020-07-28 18:27] Xring-git opened #63 "Multiple session"
Hi,

for the first time Garmin (yesterday and today) has sent me a FIT with multiple sessions, that generate an error.

How to approach this?

Thanks a lot,
Franco

[2020-07-29 12:18] adriangibbons commented on #63
Hi @Xring-git I haven't seen a file with multiple sessions before either. Is a session related to multisport activities e.g. a triathlon contain swim-transition-bike-transition-run?

Are you able to share it so that I can take a look?

[2020-07-29 12:21] adriangibbons commented on #62
Hi, I have used it with both Leaflet and GMaps - found switching between the two fairly straightforward. I had a quick look but couldn't find an example I could quickly share but will have another look later.

[2020-07-29 12:47] adriangibbons commented on #62
Hey, I just knocked a quick example together and committed to the demo folder in 3a445ff

Note the code is quite old now - the examples still use Bootstrap 3

[2020-07-29 13:12] Xring-git commented on #63
Hi Adrian,

see in attach.

[garmin_activity.zip](https://github.com/adriangibbons/php-fit-file-analysis/files/4995030/garmin_activity.zip)

[2020-07-30 09:41] pitcock commented on #62
Thanks a lot

[2020-08-07 11:19] #62 closed

[2020-09-24 21:11] SBrownAU opened #64 "Suunto Ambit Support"
I'm trying to process a file that I can view by uploading to https://www.fitfileviewer.com/ If I try to process using this library I get `Undefined offset` error @ `$this->types = $this->endianness[$architecture];`

`$architecture` is showing as `14`. Obviously, the code expects zero or one. Any idea? Fit file attached.

[68270818303.zip](https://github.com/adriangibbons/php-fit-file-analysis/file

[2020-09-28 05:56] adriangibbons commented on #64
Hi, can you try commenting-out line 1343
https://github.com/adriangibbons/php-fit-file-analysis/blob/master/src/phpFITFileAnalysis.php#L1343

Appears to be a swimming file recorded with a Garmin 920XT. Were there any sensors attached e.g. HR strap?

[2020-09-28 06:02] SBrownAU commented on #64
Hmm yep looks like's a Garmin. Commenting out 1343 worked in allowing me to parse the file (and other similar ones I've had issue with). It's not my file so I'll try and find out whether the user had any sensors attached.

[2020-09-28 06:07] adriangibbons commented on #64
No worries. As you can read from the comment on the line before it was a bit of a fudge to ensure all data is processed. Otherwise "buffered messages" were not being parsed. I haven't kept up with changes to the FIT protocol standard for some time. Out of interest, what are you using the PHP class for? Is there a URL of a site I could visit? To be honest, I thought this project had gone stale and

[2020-09-28 06:13] SBrownAU commented on #64
I'm using it to process FIT files from the Garmin API. The project I'm involved with does our own processing and analysis on the files (some of which Garmin doesn't provide hence why we're processing ourselves). Public/marketing site is https://athletica.ai/ private site in beta at the moment.

[2020-09-28 06:38] adriangibbons commented on #64
Nice! Would you mind dropping me a line? I'm interested in knowing about the Garmin API. I plug into the Strava API for my main project. After access to the Strava API, I didn't really need to process FIT files myself, hence the drop-off in maintaining this project.

[2020-10-08 16:50] riccode opened #65 "Garmin Product Information is incorrect"
In the FIT files there are two fields "product" and "garmin_product" which are not interchangeable. Therefore, when pulling out the device information for Garmin devices there is an error. The code does not distinguish between the "product" fields and the "garmin_product" fields in the FIT file. This leads to errors. I reached out to Garmin directly and they noted that "product" has something to d

[2020-10-10 01:54] adriangibbons commented on #65
Hi @riccode

The issue is thanks to it not be clear whether the field contains ```product```, ```garmin_product``` or ```favero_product``` as they all have the same field number in a ```device_info``` message.

From the Profile.xlsx file in the [FIT SDK](https://www.thisisant.com/resources/fit-sdk)

<img width="350" alt="Screen Shot 2020-10-10 at 9 51 44 am" src="https://user-images.githubusercont

[2020-10-14 16:20] riccode commented on #65
Adrian,

I reached out to Garmin, who in turn reached out to the FIT team and have made them aware of this. We will wait and see if they get back to me. So far the best solution I've found is using the software_version field. It seems that Garmin devices have a software_version below 1000, while software versions relating to 'product' had a software_version > 10,000.

riccode

[2020-12-12 16:03] fulmar2 opened #66 "Help with corrupted FIT file"
Hi Adrian - Thank you for your excellent tools.  This is not an issue with php-fit-file-analysis, but instead a request for help.  I am trying to write a PHP activity file using krwes/fit-php, and after some modification, I have gotten it to work (php-fit-file-analysis reads the file just fine).  When I upload to Garmin or Strava, the file is rejected, but if I run it through fitfiletools, the exp

[2020-12-13 07:37] adriangibbons commented on #66
Hi @fulmar2

I assume you have the [FIT SDK](https://developer.garmin.com/fit/overview/) for the details of the protocol etc?

I recommend using the [FIT CSV Tool](https://developer.garmin.com/fit/fitcsvtool/)...

I copied your test file into the java folder and ran the command (after installing Java runtime environment v1.8): ```java -jar FitCSVTool.jar -b test.fit test.csv``` that gave the below

[2020-12-13 15:25] fulmar2 commented on #66
Adrian - Thanks!  That is extremely helpful; the fitcsvtool is providing error messages that are a lot less cryptic than Strava's "malformed file" or Garmin's "File not accepted"!  Really appreciate you taking the time to do this. I had been putting in 0 for the CRC because it seems that in the 14 byte header, it is optional... but I think that I need to calculate the CRC for the end of the file,

[2020-12-13 18:06] stevemarkperry commented on #66
I came here to post a link to the code for calculating the CRC but I see you've already found it. I'd be interested in seeing your PHP implementation when you translate it.

[2020-12-13 19:17] fulmar2 commented on #66
Steve - Thanks!  Yes, I found this on the FIT SDK page:

[code]

I did convert the computations to PHP and that seems to be working.  Now I'm struggling with figuring out what the inputs are.  I don't really know what I'm doing 😉, but thanks to this tool: https://fit2tcx.runalyze.com/temp/ I have been able to determine what the CRC _should be_ for my file.  Now I'm just playing around with what I

[2020-12-13 22:52] adriangibbons commented on #66
This is great news - I am glad you are making progress!

That code you posted looks like C/C++ and given its similarities to PHP, a quick and dirty:
[code]
The [bitwise operators](https://www.php.net/manual/en/language.operators.bitwise.php) are the same.

Have not used CRCs before (and yes the phpfitfileanalysis class doesn't do anything with it), but perhaps the Wikipedia page will help with how

[2020-12-13 23:01] fulmar2 commented on #66
Thanks, Adrian! You and I both translated the C++ to PHP exactly the same way... so that is good news.  The part I'm stuck with is what to feed into the function.  I know the "right answer" thanks to the https://fit2tcx.runalyze.com/temp/ tool.  And I found some code here: https://github.com/gpsbabel/gpsbabel/blob/master/garmin_fit.cc ... it looks like they iterate through the file and pass the **

[2020-12-14 06:34] fulmar2 commented on #66
Adrian - Thanks for being so kind and helpful.  Your link to the Java tools in your first reply accelerated me towards diagnosing the problem, and then later coming up with a solution.  The main problem I couldn't figure out: what to feed to that function.  Anyway, here is the code that I finally came up with that is now working (in case it helps anyone else out trying to write FIT files).

[code]

[2020-12-14 06:34] #66 closed

[2021-02-19 06:50] ehsan-soleimanian commented on #31
Hello Adrian
this functions needs previous athlete's data for calculating while your library's functions  often works on one activity only.
I'd like to contribute .May I have your contact info?

[2021-03-15 12:18] lnovali opened #67 "Multisport"
Hello, I'm using your project and it works fine with fit files contains a single activity, but it doesn't work with multisport fit files.
Is there any chance to extract these multiple activities?
thank you in advance

[2021-05-16 15:48] Xring-git commented on #67
Hi,

it seems that it can no longer read the activity data. Could it be incompatibility with php8?

[2021-08-17 15:26] riccode opened #68 "Error processing FIT files caused by invalid $architecture variable"
Some FIT files I've processed recently are throwing an error because LINE 1389 returns a value outside the index of $this->endianness

Values of $architecture that have been logged recently are 25,121,195.

[2022-06-01 14:27] rucksman opened #69 "Demo not working"
I just discovered your project. Unfortunately I can't get it to work.

What I did:
- Cloned yor repo to my webserver
- Copied one of my fit-files (Garmin Edge 530) to the webserver
- Renamed this fit-file to mountain-biking.fit

When I go to demo/mountain-biking.php, there is nothing to see in "Flot Charts". In Google Map there is only an error message concerning Google Geocoding API and Google Ti

[2022-06-01 15:20] rucksman commented on #69
OK, in demo/mountain-biking-leaflet.php the problem is due to an error around line 215. In developer tools in the browser I get this error message:
[code]
And after inspecting the source code of the page, I see:
[code]

After commenting out the php part in the variable heart_rate, everything works fine. I have to say that during the trip which reflects the fit file, I dod not use a heart rate moni

[2022-06-04 07:09] adriangibbons commented on #69
Hi! Yes, the project is really quite old and no longer maintained.

The API issue is likely because the Google APIs now require a key as part of the request or Google has changed something else that broke things.

The demo file has heart rate, which is why the demo tries to draw a chart with data regardless of whether there is HR data or not. You could probably use an `empty()` on the relevant arr

[2022-06-05 18:02] rucksman commented on #69
Thanks for answering! Yes, the map problem is surely about Google requiring a valid API key, so this not really an issue. I will try to tweak the demo files so that it does only draw graphs for data which is actually present. Anyway, thanks for this project!

[2022-06-05 18:02] #69 closed

[2022-10-10 16:01] Eric-11 commented on #63
Just curious if you have any insights into how to address multisport FIT files.

[2022-10-10 16:14] adriangibbons commented on #63
Happily, the Garmin documentation seems to have come one quite a bit over the past few years. Check out https://developer.garmin.com/fit/file-types/activity/ and see **Example Message Ordering for Summary Last File Recording of a Multi-Sport Activity** in particular.

I'd also use the [FitCSVTool](https://developer.garmin.com/fit/fitcsvtool/)

[2022-10-12 03:36] Eric-11 commented on #63
I've updated the enum data in my forked version and found that fixed the problem with the attached file.